@keyframes fadeInSlideUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes simple-fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 0; 
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-family: 'Open Sans', sans-serif;
    z-index: 100;

}

.nav {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    font-size: 1rem; 
    font-weight: 700;
    color: rgb(239, 116, 89);
    font-family: 'Open Sans', sans-serif;
}

.nav ul {
    display: flex;
    gap: 0.8rem; 
    list-style: none;
}

.nav ul a {
    font-size: 0.85rem; 
    transition: color 0.3s ease;

}

.nav ul a.active {
    border-bottom: 2px solid rgb(239, 116, 89);
}

.nav ul a:hover {
    color:rgb(239, 116, 89);
}

body {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: rgb(36, 18, 9);
    background: white;
    line-height: 1.6;
    padding-top: 6rem;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif; 
    color: rgb(36, 18, 9);
    font-weight: 500;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 1.5rem; 
}

h2 {
    font-size: 1.25rem; 
    
}

h3 {
    font-size: 1.1rem; 
    /*color: rgb(201, 105, 63);*/
}

p {
    font-size: 0.95rem; 
    margin-bottom: 1rem; 
}

.no-margin {
    margin: 0;
}

section, footer {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

#home-content{
    height: auto;
    min-height: 45vh;
    margin: -2.5rem auto 3rem auto;    
    padding: 3rem 1.25rem; 
    background-image: linear-gradient(to right, rgba(251, 204, 174, 0.938), rgba(255, 203, 134, 0.86));
    border: 1px solid rgb(222, 222, 222);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-content h1 {
    opacity: 0; 
    animation: simple-fade-in 0.7s ease-out forwards;
    animation-delay: 0.3s;
    margin-bottom: 1.25rem; 
    font-weight: 600;
}

#home-content h1 span {
    opacity: 0; 
    animation: simple-fade-in 0.7s ease-out forwards;
    animation-delay: 0.6s;
    color: rgb(231, 101, 45);
}

#home-content p {
    opacity: 0; 
    animation: simple-fade-in 0.8s ease-out forwards;
    animation-delay: 0.9s;
    max-width: 700px;
    color: #444;
}

.contact-btn{
    opacity: 0; 
    animation: simple-fade-in 0.8s ease-out forwards;
    animation-delay: 1.1s;
    display: inline-block;
    padding: 0.6rem 0.9rem; 
    margin-top: 1.5rem; 
    max-width: 180px;
    background-color: rgb(239, 116, 89);
    color: white;
    border-radius: 6px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    transition: transform 0.5s ease;
    font-family: 'Poppins', sans-serif;
}

.contact-btn:hover {
    transform: scale(1.05);
}

#core-values {
    margin: 1rem auto;
    padding: 0 1.25rem;
    border-bottom: 1px solid #eee; 
    padding-bottom: 3rem; 
}

.values-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem; 
    justify-items: center; 
    text-align: center;
}

.value-card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem; 
    align-items: center;
    opacity: 0;
    animation: fadeInSlideUp 0.7s ease-out forwards;
}

.values-grid .value-card:nth-child(1) {
    animation-delay: 1.2s;
}

.values-grid .value-card:nth-child(2) {
    animation-delay: 1.5s;
}

.values-grid .value-card:nth-child(3) {
    animation-delay: 1.8s;
}

.value-card img {
    width: 80px;
    height: 80px;
    padding: 0.6rem; 
    border-radius: 20px;
    object-fit: contain;
}

.value-card h3 {
    font-weight: 600;
    color: #2b2b2b;
}

.value-card p {
    max-width: 260px;
    color: #6a6a6a;
    line-height: 1.5;
}

.project-preview {
    max-width: 1200px;
    margin: auto; 
    padding: 0 1.25rem;
    padding-bottom: 3rem; 
}

.project-preview p {
    opacity: 0;
    animation: fadeInSlideUp 1s ease-out forwards;
    animation-delay: 0.2s;
}

.project-preview h2 {
    text-align: center;
    margin-bottom: 1.5rem;
 }

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem; 
    opacity: 0;
    animation: fadeInSlideUp 1s ease-out forwards;
    animation-delay: 0.4s;

}

.project-card{
    background-color: white;
    border-radius: 12px;
    padding: 0.8rem; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    overflow: hidden;
    /*La till en transparent kantlinje sp, reserveras utrymmet runt kortet, förhindrar att kortet växer och hoppar vid hovring.*/
    border: 1px solid transparent; 
    transition: border 0.3s ease, box-shadow 0.3s ease;
    
}

.project-card:hover {
    border: 1px solid rgb(255, 169, 132);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
    padding: 0.8rem;
}


.project-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem; 
    transition: transform 0.4s ease-in-out;
}

.project-card:hover img {
    transform: scale(1.1);
}


.project-card h3 {
    margin-bottom: 0.4rem;
    transition: color 0.3s ease;
}

.project-card:hover h3 {
    color: rgb(201, 105, 63);
}


.project-card p {
    color: #444;
}

#see-all-btn {
    display: block;
    margin: 2rem auto 0 auto;
    padding: 0.5rem 0.5rem; 
    border: 1px solid rgb(168, 168, 168);
    color: rgb(87, 87, 87);
    border-radius: 30px;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7rem;
    max-width: 150px;
    transition: transform 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

#see-all-btn:hover {
    border: 1px solid rgb(239, 116, 89);
    color: rgb(182, 93, 55);
}


.back-link:hover{
    color: rgb(201, 105, 63);
}

.project-detail-header, 
.project-media-placeholder,
.project-info-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px; 
    padding: 0 1rem;
}

.project-detail-header {
    margin-bottom: 2rem;
}

.project-detail-header h1 {
    margin-top: 0.5rem;
}



.project-detail-header .github-badge {
    background-color:transparent;
    color: rgb(61, 28, 11);
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
}

.project-info-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
    opacity: 0;
    animation: fadeInSlideUp 1s ease-out forwards;
    animation-delay: 0.2s;
}

.info-sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-project,
.technologies,
.links-card {
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.03)
}

.project-media-placeholder {
    display: flex;
    flex-direction: column; 
    gap: 1.5rem; 
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    background-color: transparent; 
    height: auto; 
    border-radius: 8px;
    opacity: 0; 
    animation: fadeInSlideUp 0.7s ease-out forwards;
    animation-delay: 0.2s;
}

.project-media-placeholder img {
    width: 100%; 
    height: auto;
    display: block; 
    padding: 0; 
    background-color: transparent; 
    margin-top: 0; 
    border-radius: 6px; 
    border: 1px solid #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.about-project ul {
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem; 
}

.about-project ul li {
    margin-bottom: 0.5rem; 
    line-height: 1.5;
}

.links-list {
    list-style: none;
    padding: 0;
}

.links-list a:hover{
    color: rgb(201, 105, 63);
}

.about-grid {
    padding: 0 1.25rem;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.5rem;
}


.about-text {
    padding: 2rem 1rem;
    opacity: 0;
    animation: fadeInSlideUp 1s ease-out forwards;
    animation-delay: 0.2s;
}

.about-image {
    text-align: center; 
}

.about-image img {
    width: 40vw; 
    height: 40vw;
    max-width: 350px;
    max-height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 1.2rem; 
    display: block;
}

.about-image p {
    color: rgb(201, 122, 88);
    font-style: italic;
    line-height: 1.4;
}

.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.2rem; 
}

.social-icons a {
    font-size: 1.8rem;
    color: rgb(97, 53, 35);
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: rgb(231, 154, 121);
}

.section-title {
    color: rgb(61, 28, 11);
    font-weight: 500;
    margin-bottom: 0;
}

.section-subtitle {
    color: #896c50; 
    text-align: center;
}

#timeline {
    opacity: 0;
    animation: fadeInSlideUp 1s ease-out forwards;
    animation-delay: 0.4s;
}

.timeline-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
    padding: 0.8rem; 
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

}

.timeline-year { 
    display: inline-block; 
    background-color: rgb(134, 187, 211); 
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.3rem 0.8rem;
    border-radius: 8px;
    margin: 0 0 0.8rem 0; 
}

#my-skills {
    opacity: 0;
    animation: fadeInSlideUp 1s ease-out forwards;
    animation-delay: 0.6s;
}

#my-skills, #timeline {
    max-width: 1200px;
    margin: 0 auto 3.5rem; 
    padding: 0 1.25rem;
}

#my-skills .section-title, #timeline .section-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills-grid, .timeline-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
}

.skill-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
    padding: 1.2rem; 
    text-align: center;
}

.header-rating-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
    width: 100%
}


#full-projects p {
    margin-bottom: 2rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

}

.skill-header {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.skill-rating {
    font-size: 1.1rem;
    line-height: 0;
}

.skill-rating .fa-star {
    margin: 0 1px;
    color: rgba(255, 203, 134, 0.86);
}

.skill-rating .fa-star.empty {
    color: #c6c6c6;
}

.skill-icon {
    width: 2rem; 
    height: 2rem;
    object-fit: contain;
    margin-right: 0.8rem;
}

.skill-badges {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.skill-badge {
    display: inline-block;
    background-color: #ffcba5; 
    color: rgb(97, 53, 35);
    font-size: 0.85rem; 
    padding: 0.4rem 0.8rem;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.skill-badge:hover {
    transform: scale(1.05);
    
}

footer {
    background-color:white;
    padding: 1.5rem, 1.25rem;
    border: 1px solid rgb(222, 222, 222);
    text-align: center;
    padding: 2rem 0rem;
}

#contact-content {
    opacity: 0;
    animation: fadeInSlideUp 1s ease-out forwards;
    animation-delay: 0.2s;
}

#thank-you-content {
    margin-top: 4rem; 
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15px;
    flex-wrap: wrap; 
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    opacity: 0;
    animation: fadeInSlideUp 1s ease-out forwards;
    animation-delay: 0.2s;
    width: 20rem;
    max-width: 90%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.form-container h3 {
    color: rgb(150, 113, 94);
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container textarea,
.form-container input {
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 4px;
    background-color: rgba(248, 248, 248, 0.9);
    width: 100%;
    box-sizing: border-box; 
}

.form-container button {
    background-color: rgb(231, 154, 121); 
    color: white;
    margin: 0.5rem 0 2rem 0;
    padding: 8px 20px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center; 
    font-size: 0.9rem;
}

.form-container button:hover {
    background-color: rgb(210, 144, 115);
}

.form-container input:focus, .form-container textarea:focus {
    outline: none;
    border-color: rgb(231, 154, 121);
    box-shadow: 0 0 5px rgba(231, 154, 121, 0.5);
}

.contact-title {
    text-align: center;
    margin-bottom: 20px; 
    color: rgb(36, 18, 9);
    font-weight: 500;
}

.contact-intro {
    max-width: 500px;
    margin: 0 auto 2.5rem auto;     
    text-align: center;
    font-size: 1rem;
    padding: 0 1.25rem;
}

.icon-container {
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
    justify-content: center;
    width: 100%;
}

.icon-container .icon i {
    font-size: 24px;
    color: rgb(162, 162, 162);
}

.icon-container .icon i:hover, .fa-linkedin-in:hover {
    color: rgb(231, 154, 121);
}

footer p, a {
    font-size: 0.75em;
    color: rgb(36, 18, 9);
}

footer a {
    color: rgb(101, 104, 178);
}

@media (min-width: 768px) { 

    .nav {
        padding: 0 30px;
    }

    .nav .logo {
        font-size: 1.2rem;
    }

    .nav ul {
        gap: 1.5rem;
    }

    .nav ul a {
        font-size: 0.95rem; 
    }

    #home-content h1 {
        font-size: 2.5rem; 
    }
    
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }
    
    .values-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem; 
        justify-items: center; 
    }

    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-grid {
        grid-template-columns: 1fr 2fr; 
        gap: 1.5rem; 
    }

    .about-image img {
        max-width: 250px;
        max-height: 250px;
    }

    .skills-grid {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        gap: 1.2rem;
    }

    .timeline-grid {
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        gap: 1.2rem;
    }

    .project-info-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
        align-items: start;
    }

    .project-media-placeholder {
        display: grid;
        grid-template-columns: 1fr 1fr;        
        gap: 1.5rem;         
    }
    
    .project-media-placeholder img {
        width: 100%;
        height: auto;
        object-fit: contain;    
    }

}

@media (min-width: 1024px) {
    
    .project-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    #home-content h1 {
        font-size: 3.8rem;
    }

    section, footer {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .nav {
        padding: 0 50px;
        max-width: 1200px;
        margin: auto;
    }

    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }

    .project-detail-header,
    .project-info-container {
        padding: 0 50px;
    }

    .skills-grid {
        grid-template-columns: repeat(3, 1fr); 
        gap: 2rem;
    }

    .project-info-container {
        gap: 4rem;
    }

    .project-media-placeholder {
        gap: 2rem;
    }
}