* {
    /* Enkel reset för bättre layout-kontroll*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    background: rgb(255, 252, 247);
    line-height: 1.6;
    padding-top: 80px;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color:black;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    top:0;
    width: 100%;
    padding: 15px 0;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Valfritt – ger lite djup */

}

.nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(205, 112, 72);
    font-family: 'Poppins', sans-serif;
}

.nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav ul a {
    transition: color 0.3s ease;
}

.nav ul a.active {
    border-bottom: 2px solid rgb(205, 112, 72);
}

.nav ul a:hover {
    color:rgb(205, 112, 72);
}

#home-content{
    max-width: 1200px;
    height: auto;
    margin: 0 auto 80px;
    padding: 100px 20px 80px 20px;
    background-image: linear-gradient(to right, rgba(255, 220, 198, 0.938), rgba(255, 203, 134, 0.86));
    border: 0.5px solid rgb(222, 222, 222);
    margin-top: -10px;
}

#home-content h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

#home-content p {
    font-size: 1rem;
    max-width: 500px;
    color: #444;
}

.project-preview {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
}

.project-preview h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;

}

.project-card {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

.project-card h3 {
    font-size: 1.2rem;
}

.project-card p {
    color: #444;
    font-size: 0.95rem;
}



footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 60px;
    background-color: white;
}


@media (min-width: 768px) {
    #home-content h1 {
        font-size: 3.2rem;
    }

    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 1024px) {
    .project-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #home-content h1 {
        font-size: 3.8rem;
    }
}