* {
    /* Enkel reset för bättre layout-kontroll*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: black;
    background: rgb(255, 252, 247);
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif; 
    color:rgb(61, 28, 11);
    line-height: 1.6;
    font-weight: 500;
}

section, footer {
    width: 100%;
}


a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 0;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-family: 'Open Sans', sans-serif;

}

.nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(205, 112, 72);
    font-family: 'Open Sans', sans-serif;
}

.nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav ul a {
    transition: color 0.3s ease;
}

.nav ul a.active {
    border-bottom: 2px solid rgb(205, 112, 72);
}

.nav ul a:hover {
    color:rgb(205, 112, 72);
}

#home-content{
    max-width: 1200px;
    height: auto;
    min-height: 55vh;
    margin: 0 auto 80px;
    padding: 100px 40px;    
    background-image: linear-gradient(to right, rgba(255, 220, 198, 0.938), rgba(255, 203, 134, 0.86));
    border: 0.5px solid rgb(222, 222, 222);
    margin-top: -10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

#home-content h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

#home-content h1 span {
    color: rgb(231, 101, 45);
}

#home-content p {
    font-size: 1.2rem;
    max-width: 700px;
    color: #444;
}

.contact-btn{
    display: inline-block;
    padding: 10px 15px;
    margin-top: 50px;
    max-width: 200px;
    background-color: rgb(239, 116, 89);
    color: white;
    border-radius: 6px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    transition: transform 0.5s ease;
    font-family: 'Poppins', sans-serif;
}

.contact-btn:hover {
    transform: scale(1.05);
}

#core-values {
    max-width: 1200px;
    margin: 10px auto;
    padding: 0 20px;
    border-bottom: 1px solid #eee; 
    padding-bottom: 80px;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    justify-items: center; 
}


.value-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.value-card img {
    width: 100px;
    height: 100px;
    padding: 12px; 
    border-radius: 30px;
    object-fit: contain;
}

.value-card h3 {
    font-size: 1.35rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #2b2b2b;
}

.value-card p {
    max-width: 260px;
    font-size: 1.05rem;
    color: #6a6a6a;
    line-height: 1.6;
}

.page-header-container{
    max-width: 1200px;
    margin: 200px auto 40px; 
    padding: 0 20px;
    text-align: center;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    color: rgb(61, 28, 11);
    font-size: 2rem; 
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 5px;
}

.section-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    color: #6a6a6a; 
    margin-top: 5px;
    margin-bottom: 40px;
}




.about-grid {
    max-width: 1200px;
    margin: 0 auto 80px; 
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 40px; 
}




.project-preview {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    border-bottom: 1px solid #eee; 
    padding-bottom: 80px;
}

.project-preview h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

}

.project-card {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    overflow: hidden;
    
}

.project-card:hover {
    border: 1px solid rgb(255, 169, 132);
    padding: 14px;
}


.project-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 30px;
    transition: transform 0.4s ease-in-out;
}

.project-card:hover img {
    transform: scale(1.1);
}


.project-card h3 {
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.project-card:hover h3 {
    color: rgb(182, 93, 55);
}


.project-card p {
    color: #444;
    font-size: 0.95rem;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: white;
    padding: 30px 0;
    margin-top: auto;

}


@media (min-width: 768px) {
    #home-content h1 {
        font-size: 3.2rem;
    }

    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-grid {
        grid-template-columns: 2fr 1fr; 
        gap: 60px;
    }

}


@media (min-width: 1024px) {
    .project-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #home-content h1 {
        font-size: 3.8rem;
    }
}